body{
    background-image: url(./images/fondo\ pagina\ web\ 3.avif);
}


.Tienda{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: rgb(37, 174, 174);
}
#nuestrosproductos{
    display: flex ;
    flex-wrap: wrap;
   
   
}
.tarjetasproductos{
   border: solid black;
    margin: 10px;
}
.imagenes2{
   height: 200px;
   justify-content: center;
  
}
.titulo{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    margin: 10px;
    color: white;
    padding: 2px;
}
.boton{
    margin: 20px;
   padding: 5px;
   cursor: pointer;
}
.precio{
    margin: 5px;
    font-size: 15px;
    color: red;
    text-align: center;
}
.stock{
    margin: 10px;
    text-align: center;
    
}
.talles{
    text-align: center;
    border: solid ;
    margin: 10px;
    
    
}
#boton{
    cursor: pointer;
}
#productoscarrito{
    border: 2px solid black;
    width: 100%;
    min-height: 100px;
}
.tarjetacarrito{
    display: flex;
    justify-content: space-between;
}
.carrito{ 
    display: none !important;
   
}

#comprar{
    margin: 10px 0 0 10px;
   font-size: larger;
    
}

#input{
    margin: 30px 0 30px 10px;
    font-size: 17px;
}

#boton{
    font-size: 17px;
    
}